<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="spring">
      <!--Spring声明容器-->
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc5" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!--Spring配置指向-->
  <spring>
    <context>
      <!--WebPage-->
      <!--<resource uri="assembly://WebPage/WebPage.Config/IndexControllers.xml" />-->
      <resource uri="assembly://WebPage/WebPage.Config/Controllers.xml" />
      <resource uri="assembly://WebPage/WebPage.Config/ComControllers.xml" />
      <!--Service-->
      <resource uri="assembly://Service/Service.Config/Service.xml" />
      <resource uri="assembly://Service/Service.Config/ComService.xml" />
    </context>
  </spring>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebPage-20161120101508.mdf;Initial Catalog=aspnet-WebPage-20161120101508;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Sql_Wkdb.csdl|res://*/Sql_Wkdb.ssdl|res://*/Sql_Wkdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=wkmvc_db;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="data source=.;initial catalog=wkmvc_db;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--文件上传路径-->
    <add key="uppath" value="/upload/"/>
    <!--邮箱域名-->
    <add key="EmailDomain" value="@managesys.com"/>
    <!--是否启用单用户登录-->
    <add key="IsSingleLogin" value="True"/>
    <!--历史消息天数-->
    <add key="HistoryDays" value="3"/>
    <!--图片文件格式-->
    <add key="Image" value="bmp,gif,jpg,jpeg,png"/>
    <!--视频文件格式-->
    <add key="Video" value="rmvb,mkv,ts,wma,avi,rm,mp4,flv,mpeg,mov,3gp,mpg"/>
    <!--音频文件格式-->
    <add key="Music" value="mp3,wav"/>
    <!--文档文件格式-->
    <add key="Document" value="doc,docx,xls,xlsx,ppt,pptx,txt,pdf"/>
    <!--允许上传的文件格式-->
    <add key="AttachExtension" value="gif,jpg,jpeg,png,bmp,rar,zip,doc,docx,xls,xlsx,ppt,pptx,txt,flv,apk,mp4,mpg,ts,mpeg,mp3,bak,pdf"/>
    <!--图片最大值KB-->
    <add key="AttachImagesize" value="12400"/>
    <!--视频最大值KB-->
    <add key="AttachVideosize" value="12400"/>
    <!--文档最大值KB-->
    <add key="AttachDocmentsize" value="12400"/>
    <!--文件最大值KB-->
    <add key="AttachFilesize" value="5120000"/>
    <!--水印方式1文字2图片-->
    <add key="WatermarkType" value="2"/>
    <!--水印文字-->
    <add key="WatermarkText" value="◎果冻布丁喜之郎"/>
    <!--水印位置-->
    <add key="WatermarkPosition" value="9"/>
    <!--水印质量-->
    <add key="WatermarkImgQuality" value="80"/>
    <!--水印字体-->
    <add key="WatermarkFont" value="Microsoft YaHei"/>
    <!--水印字体Size-->
    <add key="WatermarkFontsize" value="20"/>
    <!--水印图片-->
    <add key="WatermarkPic" value="/Content/images/watermark.png"/>
    <!--水印图片透明度-->
    <add key="WatermarkTransparency" value="5"/>
    <!--缩略图宽度-->
    <add key="ThumbnailWidth" value="200"/>
    <!--缩略图高度-->
    <add key="ThumbnailHeight" value="200"/>
    <!--压缩文件密码-->
    <add key="ZipPassword" value="6711D4425F15B2C041DAD9BBAC1A588B1C14305A8DBED1371CD7B16AEB774FC958690B4FF89C45ECECD3CE7EA6F93C13"/>
    <!--上午上班时间-->
    <add key="OnDutyAM" value="08:00"/>
    <!--上午下班时间-->
    <add key="OffDutyAM" value="12:00"/>
    <!--下午上班时间-->
    <add key="OnDutyPM" value="14:00"/>
    <!--下午下班时间-->
    <add key="OffDutyPM" value="18:00"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>