Common/bin/Debug/Common.dll
Common/obj/Debug/Common.dll
WebPage/bin/Common.dll
Domain/bin/Debug/Domain.dll
Domain/obj/Debug/Domain.dll
Service/bin/Debug/Common.dll
Service/bin/Debug/Domain.dll
Service/bin/Debug/Service.dll
Service/obj/Debug/Service.dll
WebPage/bin/Domain.dll
WebPage/bin/Newtonsoft.Json.dll
WebPage/bin/Service.dll
WebPage/bin/WebPage.dll
WebPage/obj/Debug/WebPage.dll
*.pdb
*.cache
*.txt